@import './_vars.scss';

body {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, h4, h5 {
  color: $darkBrand;
}

button {
  display: block;
  background-color: $darkBrand;
  color: $text;
  border-radius: 6px;
  border: 0;
  font-weight: bold;
  width: 48%;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 220px;
  cursor: pointer;
}

.Page__Subtitle {
  margin-bottom: 50px;
}

.Buttons__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Error {
  color: red;
}
