.App {
  &__Container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .Main__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
}
