@import '../../styles/vars';

.Navigation {
    ul {
        list-style: none;
        padding-left: 35px;
        padding-right: 35px;
    }

    li {
        padding-bottom: 10px;
    }

    .Navigation__Link {
        color: $text;
        text-decoration: none;
    }

    .selected {
        font-weight: bold;
    }

    .Icon {
        width: 20px;
        padding-right: 10px;
        height: auto;

        svg {
            width: 15px;
            height: 15px;
            fill: $text;
        }
    }
}
