@import '../../styles/_vars';

.Header {
  padding: 10px;
  color: $text;
  background-color: $brand;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__Exchange, &__Wallet {
    text-transform: uppercase;
  }

  &__Wallet {
    padding-right: 15px;
  }
}
