@import '../../styles/_vars';

.Header__Logo {
    img {
        max-width: 34px;
    }
}

.Logo__Link {
    color: $text !important;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:focus {
        outline-offset: 0;
    }
}

.Title {
    color: $text;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
