@import '../../styles/vars';

.History__Actions {
  h3, h4 {
    padding: 15px 15px 0 15px;
  }
}

.History__Event {
  border-bottom: 1px solid grey;

  p {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  p:last-child {
    padding-left: 35px;
  }
}
